<div class="well">
  <div class="jumbotron" style="background-color: #ACFCD9">
    <h3>Thanks For Checking Out <%= link_to "Ryan", "https://github.com/mahaffey" %> and <%= link_to "Brett's", "https://github.com/brettschules" %> Dating Site</h3>

  </div>
</div>
