<div class="well">
  <table class="table table-hover">
    <col width="200">
    <col width="200">
    <col width="200">
    <tr>
      <th><h3>Name</h3></th>
      <th><h3>Gender and Age</h3></th>
      <th><h3>Picture</h3></th>
    </tr>
    <% @users.each do |u| %>
    <tr>
      <td><h4> <%= link_to u.to_s, user_path(u) %> </h4></td>
      <td><h4> <%= link_to u.gender, user_path(u) %>, <%= link_to u.age, user_path(u) %> </h4></td>
      <td><img src=<%= u.picture_url%> alt="prof pic" width="200px"></td>
    </tr>
    <% end %>
  </table>

</div>
